.container
  position: absolute
  width: 100%
  left: 0
  top: 0

  display: flex
  justify-content: center

  nav
    margin: 2em 0
    background: #161616
    padding: .6em .4em
    border-radius: 100px
  
  a
    color: white
    text-decoration: none
    font-size: 1.1em
    padding: .35em .9em

    &.selected
      background: #0a0a0a
      border-radius: 100px