.container
  position: absolute
  width: 100%
  left: 0
  top: 0

  display: flex
  justify-content: center

  z-index: 2

  header
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    padding: 0 8rem
    span:first-child
      height: fit-content
      padding: 0 5px


  nav
    margin: 2em 0
    background: #161616
    padding: .6em .4em
    border-radius: 100px

    z-index: 2
  
  a
    color: white
    text-decoration: none
    font-size: 1.1em
    padding: .35em .9em
    transition: all .2s ease-in-out

    &.selected
      background: #0a0a0a
      border-radius: 100px
