.hero
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  width: 100%
  z-index: 0

  .left, .right
    width: 50%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center

  h1, h2, h3
    margin: 0

  h1
    font-size: 5.5rem
    font-weight: bold
    margin-bottom: 1rem
    margin: 0px

  h2
    color: #cccccc
    margin-top: 1em

  h3
    color: #959595
    margin-top: .5em

  .left
    padding-left: 8em

  .right
    padding-right: 8em
    span
      text-align: center
      padding: .5em 0
      color: #cccccc

    .hero-image
      align-self: center
      background-image: url("/me.jpg")
      width: 30vw
      height: 40vh
      z-index: 1
      background-size: cover
      background-position: 0 -35px
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3em))
    .hero-image-bg
      position: absolute
      z-index: 0
      right: calc(15% - 25px)
      top: calc(40% - 25px)
      width: 30vw
      height: 40vh
      background: white
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3em))

.timeline
  padding: 0 8em
  h2, h3, h4
    margin: 0
  .year 
    border-top: 1px solid #cccccc
    border-right: 1px solid #cccccc
    border-top-right-radius: 25px
    margin-bottom: 25px
    h2
      font-size: 4.5rem
      position: relative
      margin: 0
      top: -.65em
      background: #1d1d1d
      width: fit-content
    .coords
      display: flex
      & > div
        display: flex
        flex-direction: column
        h3
          color: #cccccc
          font-size: 1.5rem
          letter-spacing: .2em
          margin-bottom: .35em
          font-weight: 400
        h4
          margin: .35em 0
          color: #959595
          font-size: 1.2rem
          font-weight: bold
          font-weight: 400
          letter-spacing: .1em
        margin-right: 3em